* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

/*****************************/
/* HEADER - HERO SECTION */
/*****************************/

.basics {
  color: #fff;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url(bgimg.jpg);
  /* background-image: linear-gradient(
      rgba(34, 34, 34, 0.5),
      rgba(34, 34, 34, 0.5)
    ),
    url("bgimg.jpg"); */
  background-size: cover;
}

.nav {
  color: #fff;
  font-family: sans-serif;
  font-size: 2.4rem;
  grid-column: span 1/-1;
  display: flex;
  padding: 0 4rem;
  justify-content: end;
  gap: 2rem;
  height: 50%;
  margin-top: 1rem;
}

.photo {
  width: 120%;
  filter: brightness(90%);
}

.header-img-box {
  display: flex;
  align-items: end;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.3)
  );
}

.contact {
  display: flex;
  justify-content: start;
  gap: 4rem;
  padding-left: 10rem;
}

.link:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
.icon-svg {
  height: 3rem;
  width: 3rem;
  stroke: #fff;
}

.icon {
  height: 3rem;
  width: 3rem;
  color: #fff;
}

.btn {
  color: #fff;
  padding: 1rem;
  display: flex;
  align-items: center;
  border: none;
  font-family: sans-serif;
  font-size: 2rem;
  background: none;
}

.btn:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 2px #fff;
  transition: all 0.3s;
}

.header-text-box {
  color: inherit;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.99),
    rgba(0, 0, 0, 0.8)
  );
}

.name {
  font-weight: bold;
  color: inherit;
  align-self: start;
  font-size: 5rem;
  padding: 0 0 0 10rem;
  font-family: sans-serif;
  letter-spacing: 2px;
}

.about-me {
  line-height: 1.5;
  color: #ddd;
  align-self: start;
  font-size: 2rem;
  padding: 0 0 0 10rem;
  font-family: sans-serif;
}

/*****************************/
/* SECTION BIO */
/*****************************/
.bio {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: #fff9db;
}

.who {
  color: #66a80f;
  padding: 10rem 0rem 0rem 0;
  margin-left: 10rem;
  margin-right: 10rem;
  font-family: sans-serif;
  font-size: 2.4rem;
}

.bio-text-box {
  padding: 0rem 10rem 10rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.bio-el {
  display: flex;
  gap: 20rem;
  border-top: 1px solid #ced4da;
  padding-top: 3rem;
}

.text {
  line-height: 1.4;
  font-family: sans-serif;
  font-size: 1.6rem;
  width: 50%;
  color: #333;
}

.topic {
  color: #333;
  font-family: sans-serif;
  font-size: 2rem;
  align-self: flex-start;
  width: 50%;
}

/*****************************/
/* SECTION EDUCATION */
/*****************************/

.education {
  /* background-image: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6),
    url(bg2.jpg)
  ); */
  background-image: url("bg2.jpg");
  background-size: cover;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(
    to right top,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.5)
  );
  padding: 10rem;
}

.second {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-left: 5rem;
}

.third {
  grid-column: 1/2;
  grid-row: 3/4;
}

.edu-el {
  font-family: sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-box {
  padding-top: 2rem;
  list-style: none;
  color: #ced4da;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
}

.level {
  color: #ffd43b;
  font-size: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #fff;
}

.bold {
  color: #66a80f;
  font-weight: bold;
}

/*****************************/
/* SECTION  EXPLORE */
/*****************************/

.explore {
  background-color: #fff9db;
}

.exp-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10rem;
  margin-right: 10rem;
  justify-content: center;
}

.work-img {
  width: 64%;
}

.work-img:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.project {
  padding: 10rem 0 5rem 0;
  color: #66a80f;
  font-family: sans-serif;
  font-size: 2.4rem;
  align-self: flex-start;
  width: 50%;
  margin-left: 10rem;
  margin-right: 10rem;
  border-bottom: 1px solid #ced4da;
}

.work-text {
  /* justify-self: center; */
  align-self: center;
  line-height: 1.4;
  font-family: sans-serif;
  font-size: 1.6rem;
  width: 50%;
  color: #333;
  padding: 5rem 0;
}

.work-img-box {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 5rem 0;
  overflow: hidden;
}

.link-text {
  text-decoration: none;
  color: #333;
}

/* .grid-item1 {
  background-image: linear-gradient(
      rgba(255, 249, 219, 0.563),
      rgba(255, 249, 219, 0.563)
    ),
    url("img1.png");
  background-size: cover;
  width: 64%;
} */
